<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>simpleMap</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script
            src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx71377ca4d61b42018b3da0ede8c234fb"></script>
    <script type="text/javascript">
        marker = new Tmapv2.Marker({
            icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png",
            position: null, //Marker의 중심좌표 설정.
            draggable: true,
            map: map //Marker가 표시될 Map 설정.
        });
        var map;
        let addNum = 1;
        var trafficMarkerArr = [];
        var trafficLeftTime = [];

        // 페이지가 로딩이 된 후 호출하는 함수입니다.
        function initTmap() {
            // map 생성
            // Tmapv2.Map을 이용하여, 지도가 들어갈 div, 넓이, 높이를 설정합니다.
            map = new Tmapv2.Map("map_div", {
                center: new Tmapv2.LatLng(37.566481622437934, 126.98502302169841),
                width: "100%",
                height: "400px"
            });
            map.addListener("contextmenu", onContextmenu); // 지도 우클릭시, 이벤트 리스너 등록.
        }


        function onContextmenu(e) {
            let today = new Date();
            let hours = today.getHours();
            let minutes = today.getMinutes();
            let seconds = today.getSeconds();
            let time = hours * 10000 + minutes * 100 + seconds;

            var result = '우클릭한 위치의 좌표는' + e.latLng + '입니다.';
            let ranNum1 = Math.floor(Math.random() * (30) - 15);
            let ranNum2 = Math.floor(Math.random() * (30) - 15);
            let str = e.latLng.toString();

            let [latlat, lonlon] = str.split(',');

            var resultDiv = document.getElementById("resultDiv");
            var trafficName = document.getElementById("trafficName");
            var trafficLat = document.getElementById("trafficLat");
            var trafficLon = document.getElementById("trafficLon");
            var trafficApplyStart = document.getElementById("trafficApplyStart");
            var trafficApplyEnd = document.getElementById("trafficApplyEnd");
            var startType = document.getElementById("startType");
            var greenOn = document.getElementById("greenOn");
            var redOn = document.getElementById("redOn");
            var setStartTime = document.getElementById("setStartTime");

            resultDiv.innerHTML = result;
            trafficName.value = "테스트신호등" + addNum;
            trafficLat.value = latlat
            trafficLon.value = lonlon
            trafficApplyStart.value = time - 3000;
            trafficApplyEnd.value = time + 3000;
            greenOn.value = 30 + ranNum1;
            redOn.value = 30 + ranNum2;
            setStartTime.value = time;


            if (ranNum1 > 0) {
                startType.value = "RED";
            } else {
                startType.value = "GREEN";
            }

            marker_Traffic = new Tmapv2.Marker(
                {
                    position: e.latLng, // 마커가 표시될 좌표
                    icon: "/icon/Traffic-light.png", // 아이콘 등록
                    iconSize: new Tmapv2.Size(
                        36, 57), // 아이콘 크기 설정
                    title: "marker_Traffic1", // 마커 타이틀
                    label: "test1",
                    map: map // 마커가 등록될 지도 객체
                });
            addNum++;

        }

        // 신호등 찍는거 테스트 메서드 , 아약스로 불러와서 마커 남길 거임
        function test() {
            let today = new Date();
            let hours = today.getHours();
            let minutes = today.getMinutes();
            let seconds = today.getSeconds();
            let time = hours * 10000 + minutes * 100 + seconds;
            $.ajax({
                method: "GET", // 요청 방식
                url: "/jshTestFindAllTraffic",
                async: true, // 동기 설정
                dataType: 'json',
                success: function (response) {
                    if (trafficMarkerArr.length > 0) {
                        for(var i in trafficMarkerArr) {
                            trafficMarkerArr[i].setMap(null);
                        }
                        trafficMarkerArr = [];
                    }
                    for (var i = 0; i < response.length; i++) {
                        if (response[i].trafficApplyStart < time && time < response[i].trafficApplyEnd) {
                            console.log(response[i].trafficApplyStart)
                            console.log(time)
                            console.log(response[i].trafficApplyEnd)
                            var leftTime = response[i].leftTime + "초";
                            if (response[i].startType == 1) {
                                marker_Traffic = new Tmapv2.Marker(
                                    {
                                        position: new Tmapv2.LatLng(response[i].trafficLat, response[i].trafficLon), //Marker의 중심좌표 설정.
                                        icon: "/icon/greenOn.png", // 아이콘 등록
                                        iconSize: new Tmapv2.Size(
                                            36, 57), // 아이콘 크기 설정
                                        title: 1, // 마커 타이틀
                                        label: leftTime,
                                        map: map // 마커가 등록될 지도 객체
                                    });
                            } else {
                                marker_Traffic = new Tmapv2.Marker(
                                    {
                                        position: new Tmapv2.LatLng(response[i].trafficLat, response[i].trafficLon), //Marker의 중심좌표 설정.
                                        icon: "/icon/redOn.png", // 아이콘 등록
                                        iconSize: new Tmapv2.Size(
                                            36, 57), // 아이콘 크기 설정
                                        title: -1, // 마커 타이틀
                                        label: leftTime,
                                        map: map // 마커가 등록될 지도 객체
                                    });


                            }

                            trafficMarkerArr.push(marker_Traffic);
                            trafficLeftTime.push(response[i].leftTime);

                        }
                    }

                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n"
                        + "message:" + request.responseText + "\n"
                        + "error:" + error);
                }
            });

        }

        function stopPlayAlert() {
            clearInterval(playAlert);
        }


        startAlert = function () {
            playAlert = setInterval(function () {
                // trafficMarkerArr.push(marker_Traffic);
                // trafficLeftTime.push(response[i].leftTime);
                // for (var i = 0; trafficMarkerArr.length; i++) {
                //     time = trafficLeftTime[i] - 1
                //     if (time == 0) {
                //         trafficMarkerArr[i].title
                //     }
                // }


            }, 995);
        };


    </script>
</head>
<body onload="initTmap()"><!-- 맵 생성 실행 -->
<h1>JSH Test</h1>
<h2 th:value="${session.memberId}"></h2>
<h2>asd</h2>
<div id="map_div"></div>
<p id="resultDiv"/>
<div id="resultList">결과값들</div>
<br><br><br>;
<form action="/jshTestTrafficSave" method="post">
    memberId<input type="text" id="memberId" value="1" name="memberId"><br>
    trafficName<input type="text" id="trafficName" name="trafficName" value=${session.memberId}><br>
    trafficLat<input type="text" id="trafficLat" name="trafficLat"><br>
    trafficLon<input type="text" id="trafficLon" name="trafficLon"><br>
    trafficApplyStart<input type="text" id="trafficApplyStart" name="trafficApplyStart"><br>
    trafficApplyEnd<input type="text" id="trafficApplyEnd" name="trafficApplyEnd"><br>
    startType<input type="text" id="startType" name="startType"><br>
    greenOn<input type="text" id="greenOn" name="greenOn"><br>
    redOn<input type="text" id="redOn" name="redOn"><br>
    setStartTime<input type="text" id="setStartTime" name="setStartTime"><br>
    <button>저장하기</button>


</form>
<button onclick="test()">값 가져오는지 테스트</button>
<button onclick="stopPlayAlert()">테스트 정지 버튼</button>
<div id="testDiv"></div>


<form action="/jshTestlogin" method="post">
    <div style="text-align: center">
        <div>
            <input type="text" id="memberEmail" name="memberEmail" placeholder="아이디"> <br>
            <input type="text" name="memberPassword" th:onclick="loginCheck()" placeholder="비밀번호"> <br>
        </div>
        <div>
            <input type="submit" value="로그인">
        </div>
        <div>
            <a href="/member/findIdForm">아이디찾기</a> ｜ <a href="/member/findPwForm">비밀번호찾기</a>
        </div>
    </div>
</form>
</body>
<script>

</script>
</html>
