<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <style>
        input:focus { outline: none !important; border-color: #0d6efd; box-shadow: 0 0 10px #3dd5f3; }
    </style>
    <script>
        var session = [[${session.loginEmail}]];
        function start1() {
            if(session != null){
                opener.document.location.reload();
                self.close();
            }
        }
    </script>
</head>
<body onload="start1()">
<h1>로그인</h1>
<form action="/member/login" method="post">
    <div style="text-align: center">
        <div>
            <input  type="text" id="memberEmail" name="memberEmail" placeholder="아이디"> <br>
            <input type="text" name="memberPassword" th:onclick="loginCheck()" placeholder="비밀번호"> <br>
        </div>
        <div>
            <input type="submit" value="로그인">
        </div>
        <div>
            <a href="/member/findIdForm">아이디찾기</a> ｜ <a href="/member/findPwForm">비밀번호찾기</a>
        </div>
    </div>
</form>
</body>
<!--<script>-->
<!--    const loginCheck = () => {-->
<!--        const id = document.getElementById("memberEmail").value;-->
<!--        const pw = document.getElementById("memberPassword").value;-->

<!--        $.ajax({-->
<!--            type: "post",-->
<!--            url: "/member/login",-->
<!--            data: {"id": id, "pw":pw},-->
<!--            dataType: "text",-->
<!--            success: function (loginResult) {-->
<!--                if (loginResult == "ok") {-->
<!--                    alert("로그인이 성공하였습니다");-->
<!--                    loginForm.submit();-->
<!--                } else {-->
<!--                    alert("아이디와 비밀번호를 확인해주세요");-->
<!--                }-->
<!--            },-->
<!--            error: function (){-->
<!--                alert("error");-->
<!--            }-->
<!--        })-->
<!--    }-->
<!--</script>-->
</html>