<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1>로그인</h1>
<form action="/member/login" method="post">
    <div style="text-align: center">
        <div>
            <input  type="text" name="memberEmail" placeholder="아이디"> <br>
            <input type="text" name="memberPassword" th:onclick="loginCheck()" placeholder="비밀번호"> <br>
        </div>
        <div>
            <input type="submit" value="로그인">
        </div>
        <div>
            <a href="/member/findIdForm">아이디찾기</a> ｜ <a href="/member/findPwForm">비밀번호찾기</a>
        </div>
    </div>
</form>
</body>
</html>