<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1>회원가입</h1>
<form action="/member/save" method="post">
    <input type="text" name="memberEmail" placeholder="아이디" required> <br>
    <input type="text" name="memberPassword" placeholder="비밀번호" required><br>
    <input type="text" name="memberNickname" placeholder="닉네임" required><br>
    <input type="tel" name="memberPhone"
           required pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" title="###-####-####" placeholder="전화번호"><br>
    <input type="hidden" name="memberLevel" value="1">
    <input type="submit" value="가입하기">
</form>
</body>
</html>