<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>simpleMap</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script
            src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx71377ca4d61b42018b3da0ede8c234fb"></script>
    <script type="text/javascript">

        var map;
        var select_marker;
        var trafficList;
        var idResult;
        // 화면 크기가 변경될때마다 함수 호출
        $(window).resize(function (){
            // 화면의 height값을 가져오기
            var height_size = window.outerHeight;
            var mapResize = document.getElementById('map_div');//map의 div
            var selectBox = document.getElementById("selectBox");
            mapResize.style.height = height_size-120+"px";//map의 height 변경
            selectBox.style.height = height_size - 120 - 90 + "px";
        })
        function initTmap() {
            var height_size = window.outerHeight;
            document.getElementById("selectBox").style.height = height_size - 120 - 90 + "px";
            // 1. 지도 띄우기
            map = new Tmapv2.Map("map_div", {
                center: new Tmapv2.LatLng(37.570028, 126.986072),
                width: "70%",
                height: height_size - 120 + "px",
                zoom: 15,
                zoomControl: true,
                scrollwheel: true

            });
        }
        // 검색을 제외한 모든 마커를 지우는 함수
        function removeMarkers() {
            // map 에서 select_marker 를 지움
            select_marker.setMap(null);
            select_marker = null;
        }
        // 마이플레이스 출발지 지정
        function pingTraffic(Lat1,Lon1) {
            // 마커가 이미 있으면 삭제
            if (select_marker != null) {
                removeMarkers()
            }
            //Marker 객체 생성
            select_marker = new Tmapv2.Marker({
                icon: "/icon/Traffic-light.png",
                iconSize: new Tmapv2.Size(
                    36, 57),
                position: new Tmapv2.LatLng(Lat1, Lon1), //Marker의 중심좌표 설정.
                map: map, //Marker가 표시될 Map 설정.
            });
            map.setCenter(new Tmapv2.LatLng(Lat1,Lon1));
            map.setZoom(18);

            var buttonText = '<button style="position: absolute;width: 95%;height: 50px;display: block; margin-top: 10px;padding: 5px" onclick="sandTraffic()">'+ trafficList[index].trafficName +'</button>';
            document.getElementById("buttonText").innerHTML = buttonText;
            idResult = trafficList[index].trafficId;
        }
        function sandTraffic(){
            console.log(idResult);
        }
    </script>
    <style>
        .w-btn-outline {
            position: relative;
            padding: 15px 30px;
            border-radius: 15px;
            font-family: "paybooc-Light", sans-serif;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
            text-decoration: none;
            font-weight: 600;
            transition: 0.25s;
        }
        .w-btn-outline:active {
            transform: scale(1.5);
        }
        .w-btn-green-outline {
            border: 3px solid #77af9c;
            color: darkgray;
        }
        #selectBox{
            overflow: scroll;
            height: 300px;
            -ms-overflow-style: none;
        }
        #selectBox::-webkit-scrollbar{
            display:none;
        }
    </style>
</head>
<body onload="initTmap();">
<div>
    <div style="width: 30%; float:left;position: relative;display: block">
        <div>
        <div class="rst_wrap" style="display: block">
            <div style="margin: 5px">
                <div class="title">My <strong>Traffic</strong></div>
            </div>

            <div class="" id="selectBox">
                <table class="table table-striped table-sm">
                    <tbody>
                    <tr th:each="traffic : ${trafficDTOList}" th:onclick="saveTest([[${traffic.trafficId}]]),pingTraffic([[${traffic.trafficLat}]],[[${traffic.trafficLon}]])">
                        <td th:text="${traffic.trafficName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="buttonText"><button  class="w-btn-outline w-btn-green-outline" style="position: absolute;width: 95%;height: 50px;display: block; margin-top: 10px;padding: 5px" onclick="sendChildValue()">선택 하기</button></div>
        </div>
    </div>
    <div id="map_div" class="map_wrap" style="float:left"></div>
</div>
<div class="map_act_btn_wrap clear_box"></div>
<p id="result"></p>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript">
    let test;
    function saveTest(id){
        console.log(id);
        test=id;
    }

    function sendChildValue(){
        if (test==null){
            alert("선택된 신호등이 없습니다.")
        }else {
            opener.setChildValue(test);

            window.close();
        }

    }
</script>
</html>
