<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h2>신고하기</h2>
<form action="/board/reportSave" method="get">
    <div>
<!--        <div>-->
<!--           <input type="text" th:value="${session.loginEmail}">&ndash;&gt;-->
<!--            <input type="hidden" th:value="${session.memberId}">&ndash;&gt;-->
<!--        </div>-->
        <div>
            <select name="errorType" id="" style="width: 100%">
                <option value="">신고 항목 선택</option>
                <option value="">주제와 상관없는 게시글</option>
                <option value="">비방, 욕설 및 불쾌한 게시글</option>
                <option value="">신호등의 위치가 실제 맵과 다름</option>
                <option value="">뭘 넣을까~</option>
                <option value="">뭘 넣을까~</option>
            </select>
        </div>
        <div>
            <input type="text" name="errorTitle" placeholder="제목" style="width: 100%">
        </div>
        <div>
            <textarea id="1" name="" cols="71" rows="8" name="errorContents"
                      placeholder="신고할 내용을 구체적으로 입력해주세요"></textarea>
        </div>
        <input type="submit" class="btn-outline-danger" value="신고하기">
    </div>
</form>
</body>
</html>