<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script
            src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx71377ca4d61b42018b3da0ede8c234fb"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        var marker;
        var map_count = 0;
        var page_lat = [[${page_lat}]];
        var page_lng = [[${page_lng}]];
        var map;
        var searchMarkerArr = [];
        var labelArr = [];
        var nameArr = [];
        var latLonArr = [];
        // 화면 크기가 변경될때마다 함수 호출
        $(window).resize(function () {
            if (map_count == 0) {
                var width_size = window.outerWidth;
                // 화면의 height값을 가져오기
                var height_size = window.outerHeight;
                var mapResize = document.getElementById('map_div');//map의 div
                var sidebarResize = document.getElementById("sidebar");
                if ((screen.availHeight || screen.height - 30) <= window.innerHeight) {
                    mapResize.style.width = width_size - 320 + "px";//map의 height 변경
                    mapResize.style.height = height_size - 147 - 4 + "px";//map의 height 변경
                    sidebarResize.style.height = height_size - 147 - 4 + "px";
                    alert("전체화면은 지원하지 않습니다.")
                } else if (width_size == 1920) {
                    mapResize.style.width = width_size - 320 + "px";//map의 height 변경
                    mapResize.style.height = height_size - 147 - 4 + "px";//map의 height 변경
                    sidebarResize.style.height = height_size - 147 - 4 + "px";
                } else {
                    mapResize.style.width = width_size - 336 + "px";//map의 height 변경
                    mapResize.style.height = height_size - 164 - 4 + "px";//map의 height 변경
                    sidebarResize.style.height = height_size - 164 - 4 + "px";
                }
            } else if (map_count == 1) {
                var width_size = window.outerWidth;
                // 화면의 height값을 가져오기
                var height_size = window.outerHeight;
                var mapResize = document.getElementById('map_div');//map의 div
                var sidebarResize = document.getElementById("sidebar");
                if ((screen.availHeight || screen.height - 30) <= window.innerHeight) {
                    mapResize.style.width = width_size - 0 + "px";//map의 height 변경
                    mapResize.style.height = height_size - 147 - 4 + "px";//map의 height 변경
                    sidebarResize.style.height = height_size - 147 - 4 + "px";
                    alert("전체화면은 지원하지 않습니다.")
                } else if (width_size == 1920) {
                    mapResize.style.width = width_size - 0 + "px";//map의 height 변경
                    mapResize.style.height = height_size - 147 - 4 + "px";//map의 height 변경
                    sidebarResize.style.height = height_size - 147 - 4 + "px";
                } else {
                    mapResize.style.width = width_size - 16 + "px";//map의 height 변경
                    mapResize.style.height = height_size - 164 - 4 + "px";//map의 height 변경
                    sidebarResize.style.height = height_size - 164 - 4 + "px";
                }
            }
        });

    </script>
</head>
<style>
    body {
        -ms-overflow-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #map_div {
        float: right;
        width: 100%;
        box-sizing: border-box;
    }

    #sidebar {
        float: left;
        width: 320px;
        height: 818px;
        background-color: #c7dbd2;
        border: 2px solid black;
        border-top: none;
    }

    .searth-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #traffic_information {
        background-color: white;
        border: 1px solid #20c997;
        overflow: scroll;
        -ms-overflow-style: none;
        margin: 3%;
        height: 97%;
        padding: 5%;
    }

    #traffic_information::-webkit-scrollbar {
        display: none;
    }

    .myPlaceTap {
        width: 100%;
    }

    tr.myPlaceTap:hover td {
        background-color: #f3e9e9 !important;
        color: #303f39 !important;
    }


</style>

<body>
<th:block th:replace="/kmj/header :: header"></th:block>
</body>
<div id="sidebar">
    <div id="traffic_information">
        <div style="margin-top: 8px">
            <div>
                <input style="width: 100%" type="search" id="searchKeyword" placeholder="장소검색창"
                       onkeyup="if(window.event.keyCode==13){searchButton()}">
            </div>
            <br/>
            <div class="title"><strong>Search</strong> Results</div>
            <div class="rst_wrap">
                <div class="rst mCustomScrollbar">
                    <ul id="searchResult" name="searchResult">
                        <li>검색결과</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div th:if="${session.loginEmail}">
                <div>
                    <b>마이플레이스</b>
                    <div style="float: right">
                        <i onclick="mypTapDown()" id="mypIcon" class="fa-solid fa-angle-up fa-2x"></i>
                    </div>
                    <br>
                    <div id="myPlaceList">
                    </div>
                </div>
                <hr>
                <div>
                    <b>루틴</b> <br>
                    <input type="text" placeholder="출근길"> <br>
                    <input type="text" placeholder="퇴근길">
                </div>
                <hr>
                <div>
                    <b>자주보는 신호등</b> <br>
                    <input type="text" th:value="11"> <br>
                    <input type="text" th:value="11">
                </div>
                <hr>
                <div th:if="${session.loginEmail.toString().equals('admin')}">
                    <button th:onclick="loginAdmin()" type="button" class="btn success">▶관리자 전용</button>
                </div>
                <button th:onclick="logout()" type="button" class="btn success">▶로그아웃</button>
                <hr>
            </div>
            <div th:unless="${session.loginEmail}">
                <button onclick="loginForm()" type="button" class="btn success">▶로그인</button>
            </div>

        </div>
    </div>
</div>
<script th:inline="javascript">
    function loginAdmin() {
        location.href = "/member/findAll";
    }

    const loginForm = () => {
        var width = 480;
        var height = 630;

        var left = (window.screen.width / 2) - (width / 2);
        var top = (window.screen.height / 4);

        var windowStatus = 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top + ', scrollbars=no, status=no, resizable=yes, titlebar=yes';

        window.open("/member/loginForm", "로그인", windowStatus);

    }
</script>
<script type="text/javascript">
    function initTmap() {
        tapCheck("tap1");
        var request_lat;
        var request_lng;
        if (page_lat == 0 && page_lng == 0) {
            request_lat = 37.570028;
            request_lng = 126.989072;
        } else {
            request_lat = page_lat;
            request_lng = page_lng;
        }
        sidebarResize = document.getElementById("sidebar");
        var width_size = window.outerWidth;
        var height_size = window.outerHeight;
        if (width_size == 1920) {
            sidebarResize.style.height = height_size - 147 - 4 + "px";
            // 1. 지도 띄우기
            map = new Tmapv2.Map("map_div", {
                center: new Tmapv2.LatLng(request_lat, request_lng),
                width: width_size - 320 + "px",
                height: height_size - 147 - 6 + "px",
                zoom: [[${page_zoom}]],
                zoomControl: true,
                scrollwheel: true
            });
        } else {
            sidebarResize.style.height = height_size - 164 - 4 + "px";
            // 1. 지도 띄우기
            map = new Tmapv2.Map("map_div", {
                center: new Tmapv2.LatLng(request_lat, request_lng),
                width: width_size - 336 + "px",
                height: height_size - 164 - 6 + "px",
                zoom: [[${page_zoom}]],
                zoomControl: true,
                scrollwheel: true
            });
        }

    }

    function searchButton() {
        var searchKeyword = $('#searchKeyword').val(); // 검색 키워드
        $.ajax({
            method: "GET", // 요청 방식
            url: "https://apis.openapi.sk.com/tmap/pois?version=1&format=json&callback=result", // url 주소
            async: false, // 동기설정
            data: { // 요청 데이터 정보
                "appKey": "l7xx71377ca4d61b42018b3da0ede8c234fb", // 발급받은 Appkey
                "searchKeyword": searchKeyword, // 검색 키워드
                "resCoordType": "EPSG3857", // 요청 좌표계
                "reqCoordType": "WGS84GEO", // 응답 좌표계
                "count": 6 // 가져올 갯수
            },
            success: function (response) {
                // 출발지 도착지 세팅을 위한 위도경도 배열 초기화
                latLonArr = [];
                nameArr = [];
                var resultpoisData = response.searchPoiInfo.pois.poi;
                // 2. 기존 마커, 팝업 제거
                if (searchMarkerArr.length > 0) {
                    for (var i in searchMarkerArr) {
                        searchMarkerArr[i].setMap(null);
                    }
                    searchMarkerArr = [];
                }
                if (labelArr.length > 0) {
                    for (var i in labelArr) {
                        labelArr[i].setMap(null);
                    }
                    labelArr = [];
                }
                var innerHtml = ""; // Search Reulsts 결과값 노출 위한 변수
                //맵에 결과물 확인 하기 위한 LatLngBounds객체 생성
                var positionBounds = new Tmapv2.LatLngBounds();
                // 3. POI 마커 표시
                for (var k in resultpoisData) {
                    // POI 마커 정보 저장
                    var noorLat = Number(resultpoisData[k].noorLat);
                    var noorLon = Number(resultpoisData[k].noorLon);
                    var name = resultpoisData[k].name;
                    // 상세정보를 표시하기 위한 id 값인데 지금은 안씀
                    // POI 정보의 ID
                    // var id = resultpoisData[k].id;
                    // 좌표 객체 생성
                    var pointCng = new Tmapv2.Point(
                        noorLon, noorLat);
                    // EPSG3857좌표계를 WGS84GEO좌표계로 변환
                    var projectionCng = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                        pointCng);
                    var lat = projectionCng._lat;
                    var lon = projectionCng._lng;
                    // 좌표 설정
                    var markerPosition = new Tmapv2.LatLng(
                        lat, lon);
                    // 출발지 도착지를 지정할때 사용할 위도 경도를 모아놓은 배열 넣기
                    latLonArr.push(markerPosition);
                    nameArr.push(name);
                    // Marker 설정
                    search_marker = new Tmapv2.Marker(
                        {
                            position: markerPosition, // 마커가 표시될 좌표
                            //icon : "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_a.png",
                            icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_"
                                + k
                                + ".png", // 아이콘 등록
                            iconSize: new Tmapv2.Size(
                                24, 38), // 아이콘 크기 설정
                            title: name, // 마커 타이틀
                            map: map // 마커가 등록될 지도 객체
                        });
                    // 결과창에 나타날 검색 결과 html
                    // 출발지 도착지 세팅할 수 있게 해주는 버튼 추가
                    innerHtml += "<li><div><div class='searth-name'><img src='http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_" + k + ".png' style='vertical-align:middle;'/><span onclick='searchHide(" + k + ")'>"
                        + name
                        + "</span></div><div id='searchHide" + k + "' style='display: none'> <button type='button' name='sendBtn' onClick='startPing("
                        + k
                        + ");'>출발지</button> <button type='button' name='sendBtn' onClick='endPing("
                        + k
                        + ");'>도착지</button><div th:if=" + [[${session.loginEmail}]] + "> <input type='button' name='sendBtn' onClick='myPlaceSave("
                        + k
                        + ");' value='저장'></div></div></div></li>";
                    // 마커들을 담을 배열에 마커 저장
                    searchMarkerArr.push(search_marker);
                    positionBounds.extend(markerPosition); // LatLngBounds의 객체 확장
                }
                $("#searchResult").html(innerHtml); //searchResult 결과값 노출
                map.panToBounds(positionBounds); // 확장된 bounds의 중심으로 이동시키기
                map.zoomOut();
            },
            error: function (request, status, error) {
                console.log("code:"
                    + request.status + "\n"
                    + "message:"
                    + request.responseText
                    + "\n" + "error:" + error);
            }
        });
    }

    function searchHide(k) {
        var searchHide = document.getElementById("searchHide" + k);
        for (var i = 0; i < searchMarkerArr.length; i++) {
            if (i != k) {
                document.getElementById("searchHide" + i).style.display = "none";
            }
        }
        if (searchHide.style.display == "none") {
            searchHide.style.display = "inline";
            searchMarkerArr[k].setIcon("http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_" + k + ".png");
        } else {
            searchHide.style.display = "none";
            searchMarkerArr[k].setIcon("http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_" + k + ".png");
        }
    }

    function markerRemove() {
        if (marker != null) {
            marker.setMap(null);
            marker = null;
        }
    }

    function clickPing(lat, lng, name) {
        markerRemove();

        marker = new Tmapv2.Marker({
            position: new Tmapv2.LatLng(lat, lng), //Marker의 중심좌표 설정.
            title: name, // 마커 타이틀
            map: map //Marker가 표시될 Map 설정.
        });

        map.setCenter(new Tmapv2.LatLng(lat, lng));
        map.setZoom(17);
    }

    var clickId = 0;

    function myPlaceClick(id, lat, lng, name) {
        console.log(id + "," + lat + "," + lng + "," + name);
        var myPlaceButton = document.getElementById("myPlace" + id);
        var mypButton = $(".mypButton");
        if (myPlaceButton.style.display == "inline") {
            myPlaceButton.style.display = "none";
            clickId = 0;
            markerRemove();
        } else if (myPlaceButton.style.display == "none") {
            if (clickId == 0) {
                myPlaceButton.style.display = "inline";
                clickId = id;
                clickPing(lat, lng, name);
            } else if (clickId != 0) {
                document.getElementById("myPlace" + clickId).style.display = "none";
                myPlaceButton.style.display = "inline";
                clickId = id;
                clickPing(lat, lng, name);
            }
        }
    }

    function startPing(id) {
        location.href = "/2tapTest?page_lat=" + map.getCenter().lat() + "&page_lng=" + map.getCenter().lng() + "&page_zoom=" + map.getZoom() + "&type=start&name=" + nameArr[id] + "&lat=" + latLonArr[id].lat() + "&lng=" + latLonArr[id].lng();
    }

    function endPing(id) {
        location.href = "/2tapTest?page_lat=" + map.getCenter().lat() + "&page_lng=" + map.getCenter().lng() + "&page_zoom=" + map.getZoom() + "&type=end&name=" + nameArr[id] + "&lat=" + latLonArr[id].lat() + "&lng=" + latLonArr[id].lng();
    }

    function startMyPlace(myPlaceId) {
        location.href = "/2tapTest?page_lat=" + map.getCenter().lat() + "&page_lng=" + map.getCenter().lng() + "&page_zoom=" + map.getZoom() + "&type=start&myPlaceId=" + myPlaceId;
    }

    function endMyPlace(myPlaceId) {
        location.href = "/2tapTest?page_lat=" + map.getCenter().lat() + "&page_lng=" + map.getCenter().lng() + "&page_zoom=" + map.getZoom() + "&type=end&myPlaceId=" + myPlaceId;
    }

    function myPlaceSave(id) {
        var lat = latLonArr[id].lat();
        var lng = latLonArr[id].lng();
        var name = nameArr[id];
        console.log(lat + "," + lng + "," + name);

        $.ajax({
            url: "/myPlace/saveCheck",
            type: "get",
            dataType: "text",
            data: {
                "lat": lat,
                "lon": lng
            },
            success: function (result) {
                if (result == "ok") {
                    let title = prompt('마이플레이스명을 입력해주세요', '');
                    $.ajax({
                        url: "/myPlace/save?myPlaceLat=" + lat + "&myPlaceLng=" + lng + "&myPlaceName=" + title,
                        type: "get",
                        success: function () {
                            alert("마이플레이스에 추가되었습니다.");
                            myPlaceList();
                            document.getElementById("searchResult").innerHTML = "검색결과";
                        }
                    })
                } else {
                    alert("이미 등록되어있는 장소입니다!");
                }
            }
        })
    }

    function logout() {
        location.href = "/member/logout";
    }

    function mypTapDown() {
        var mypTap = document.getElementById("mypTap");
        var mypIcon = document.getElementById("mypIcon");
        if (mypTap.style.display == "inline") {
            mypTap.style.display = "none";
            mypIcon.className = "fa-solid fa-angle-down fa-2x"
        } else if (mypTap.style.display == "none") {
            mypTap.style.display = "inline";
            mypIcon.className = "fa-solid fa-angle-up fa-2x"
        }
    }

    function myPlaceList() {
        $.ajax({
            url: "/myPlace/list",
            type: "get",
            dataType: "json",
            success: function (result) {
                let output = "<table style=\"display: inline\" id=\"mypTap\">";
                for (let i in result) {
                    output += "<tr className='myPlaceTap'>";
                    output += "<td>" + "<p onclick='myPlaceClick(" + result[i].myPlaceId + "," + result[i].myPlaceLat + "," + result[i].myPlaceLon + "," + '"' + result[i].myPlaceName + '"' + ")'>" + result[i].myPlaceName + "</p>";
                    output += "</td>" + "</tr>";
                    output += "<tr style='margin-bottom: 5px;display: none;' id='myPlace" + result[i].myPlaceId + "'>";
                    output += "<td><input type='button' onclick='startMyPlace(" + result[i].myPlaceId + ")' value='출발지'></td>";
                    output += "<td><input type='button' onclick='endMyPlace(" + result[i].myPlaceId + ")' value='도착지'></td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById("myPlaceList").innerHTML = output
            }
        })
    }
</script>

<body onload="initTmap();myPlaceList();">
<div id="map_div"></div>
</body>
</html>
