<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx71377ca4d61b42018b3da0ede8c234fb"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<style>
    tr.colored:hover td {
        background-color: #f3e9e9 !important;
        color: #303f39 !important;
    }
</style>

<script th:inline="javascript">
    var map_count = 0;
    var page_lat = [[${page_lat}]];
    var page_lng = [[${page_lng}]];
    var map;
    // 화면 크기가 변경될때마다 함수 호출
    $(window).resize(function () {
        if (map_count == 0) {
            var width_size = window.outerWidth;
            // 화면의 height값을 가져오기
            var height_size = window.outerHeight;
            var mapResize = document.getElementById('map_div');//map의 div
            var sidebarResize = document.getElementById("sidebar");
            if ((screen.availHeight || screen.height - 30) <= window.innerHeight) {
                mapResize.style.width = width_size - 320 + "px";//map의 height 변경
                mapResize.style.height = height_size - 147 - 4 + "px";//map의 height 변경
                sidebarResize.style.height = height_size - 147 - 4 + "px";
                alert("전체화면은 지원하지 않습니다.")
            } else if (width_size == 1920) {
                mapResize.style.width = width_size - 320 + "px";//map의 height 변경
                mapResize.style.height = height_size - 147 - 4 + "px";//map의 height 변경
                sidebarResize.style.height = height_size - 147 - 4 + "px";
            } else {
                mapResize.style.width = width_size - 336 + "px";//map의 height 변경
                mapResize.style.height = height_size - 164 - 4 + "px";//map의 height 변경
                sidebarResize.style.height = height_size - 164 - 4 + "px";
            }
        } else if (map_count == 1) {
            var width_size = window.outerWidth;
            // 화면의 height값을 가져오기
            var height_size = window.outerHeight;
            var mapResize = document.getElementById('map_div');//map의 div
            var sidebarResize = document.getElementById("sidebar");
            if ((screen.availHeight || screen.height - 30) <= window.innerHeight) {
                mapResize.style.width = width_size - 0 + "px";//map의 height 변경
                mapResize.style.height = height_size - 147 - 4 + "px";//map의 height 변경
                sidebarResize.style.height = height_size - 147 - 4 + "px";
                alert("전체화면은 지원하지 않습니다.")
            } else if (width_size == 1920) {
                mapResize.style.width = width_size - 0 + "px";//map의 height 변경
                mapResize.style.height = height_size - 147 - 4 + "px";//map의 height 변경
                sidebarResize.style.height = height_size - 147 - 4 + "px";
            } else {
                mapResize.style.width = width_size - 16 + "px";//map의 height 변경
                mapResize.style.height = height_size - 164 - 4 + "px";//map의 height 변경
                sidebarResize.style.height = height_size - 164 - 4 + "px";
            }
        }
    });

    function initTmap() {
        tapCheck("tap3");
        var request_lat;
        var request_lng;
        if (page_lat == 0 && page_lng == 0) {
            request_lat = 37.570028;
            request_lng = 126.989072;
        } else {
            request_lat = page_lat;
            request_lng = page_lng;
        }
        console.log(page_lat, page_lng);
        sidebarResize = document.getElementById("sidebar");
        var width_size = window.outerWidth;
        var height_size = window.outerHeight;
        if (width_size == 1920) {
            sidebarResize.style.height = height_size - 147 - 4 + "px";
            // 1. 지도 띄우기
            map = new Tmapv2.Map("map_div", {
                center: new Tmapv2.LatLng(request_lat, request_lng),
                width: width_size - 320 + "px",
                height: height_size - 147 - 6 + "px",
                zoom: [[${page_zoom}]],
                zoomControl: true,
                scrollwheel: true
            });
        } else {
            sidebarResize.style.height = height_size - 164 - 4 + "px";
            // 1. 지도 띄우기
            map = new Tmapv2.Map("map_div", {
                center: new Tmapv2.LatLng(request_lat, request_lng),
                width: width_size - 336 + "px",
                height: height_size - 164 - 6 + "px",
                zoom: [[${page_zoom}]],
                zoomControl: true,
                scrollwheel: true
            });
        }

    }

    const boardAll = () => {
        location.href = "/board/findAll";
    }
    const trafficAll = () => {


    }
    const freeAll = () => {

    }
    const adminAll = () => {

    }
    const goBoardPages = () => {
        window.open("/board")
    }
</script>
<style>
    body {
        -ms-overflow-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #map_div {
        float: right;
        width: 100%;
        box-sizing: border-box;
    }

    #sidebar {
        float: left;
        width: 320px;
        height: 818px;
        background-color: #c7dbd2;
        border: 2px solid black;
        border-top: none;
    }

    #boardSave {
        background-color: white;
        border: 1px solid #20c997;
        margin: 3%;
        overflow: scroll;
        -ms-overflow-style: none;
        height: 95%;
        padding: 5%;
    }

    #boardSave::-webkit-scrollbar {
        display: none;
    }

    .hstack {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: stretch;
    }

</style>
<body>
<th:block th:replace="/kmj/header :: header"></th:block>
</body>
<body onload="initTmap();boardList();">
<div id="sidebar">
    <div style="float: right"></div>
    <div id="boardSave" style="text-align: center">
        <div class="container">
            <h4 style="text-align: center">주간 인기글</h4>
            <div><select name="" id="typeChoice" style="float:left" onchange="boardList()"
                         class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <option value="전체">전체</option>
                <option value="신호">신호</option>
                <option value="자유">자유</option>
                <option value="공지">공지</option>
            </select>
                <button style="float: right;" class="btn btn-sm btn-outline-secondary" onclick="goBoardPages()">더보기
                </button>
            </div>
            <table class="table table-striped table-sm" style="table-layout:fixed">
                <thead>
                <tr>
                    <th>카테고리</th>
                    <th>글 제목</th>
                    <th>좋아요</th>
                </tr>
                <thead>
                <tbody id="boardList">

                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="map_div"></div>
</body>

<script>
    function detail(id) {
        var detail1 = "/board/detail?id=" + id;
        window.open(detail1)
    }

    function boardList() {
        let type = document.getElementById("typeChoice").value;
        $.ajax({
            url: "/board/3tap",
            type: "get",
            dataType: "json",
            data: {
                "type": type
            },
            success: function (result) {
                let output = "";
                for (let i in result) {
                    output += "<tr class='colored' onclick='detail(" + result[i].boardId + ")'>";
                    output += "<td>" + result[i].boardType + "</td>";
                    output += "<td style='width:100%;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;'>" + result[i].boardTitle + "</td>";
                    output += "<td>" + result[i].boardLike + "</td>";
                    output += "</tr>";
                }
                document.getElementById('boardList').innerHTML = output;
            }
        })
    }
</script>
</html>