<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>신고조치</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h2>신고조치</h2>
<form action="/error/historySave" method="post" name="saveForm">
    <input type="hidden" name="boardId" th:value="${board.boardId}">
    <input type="hidden" name="memberId" th:value="${board.memberId}">
    <select id="history" name="historyType" style="width: 100%">
        <option id="lv1" value="등급하락">등급하락</option>
        <option value="등급유지">등급유지</option>
    </select>
    <textarea cols="71" rows="9" name="historyMessage"
    style="resize: none;" placeholder="조치내용을 입력해주세요" required></textarea>
    <div style="text-align: center">
    <input type="submit" th:onclick="levelDown([[${board.memberId}]])" class="btn btn-outline-warning" value="조치하기">
    </div>
</form>
</body>
<script th:inline="javascript">

   function levelDown(id) {
       console.log(id)
       let type = document.getElementById("history").value;
       const lvdown = document.getElementById("lv1").value;

       if (type === lvdown){
           location.href = "/member/levelDown/" + id;
       }
   }
</script>
</html>