<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <table class="container">
        <tr>
            <th>신고번호</th>
            <th>신고종류</th>
            <th>신고제목</th>
            <th>신고내용</th>
            <th>신고자</th>
            <th>신고시간</th>
        </tr>
        <tr th:each="error: ${errorList}">
            <td th:text="${error.errorId}"></td>
            <td th:text="${error.errorType}"></td>
            <td th:text="${error.errorTitle}"></td>
            <td th:text="${error.errorContents}"></td>
            <td th:text="${error.memberId}"></td>
            <td th:text="*{#temporals.format(error.errorCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
</div>
</body>
</html>