<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<!--ㅅㅎ 커밋 연습할때 썻던 텍스트는 다 날렸음 (원랜 삭제 이력 보여야하지만 테스트했던거라 날림)
각자 테스트 할 페이지 갈 때 첫 페이지는 index 찍는거 유지해두고 버튼 만들어서 이동하는걸로
-->

<!--ㅅㅎ 맵 메인 이동 버튼 추가-->
<a href="/hss">경로 이동</a>
<a href="/hss/search">검색및경로 이동</a>
<button onclick="startMinitMap()" class="btn btn-primary">미닛맵 시작하기</button>
<a href="/hss/myprot">마이플및 루틴</a>
<a href="/hss/trafficChoese">신호등선택</a>
<a href="/board">게시판 메인 이동</a>
<a href="/admin">관리자페이지</a>
<br><br><br><br>
<a href="/jshTest" style="font-size: 50px">선호 테스트 이동</a>
<a href="/hss/1tap">성수 테스트</a>
</body>
<script>
    function startMinitMap() {
        location.href = "/1tapTest";
    }
</script>
</html>